<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="include/header :: commonHead"></div>
    <style>
        .layui-input {
            height: 39px;
        }

        .layui-table-cell {
            overflow: initial;
        }

        .layui-table-box {
            overflow: visible;
        }

        .layui-table-body {
            overflow: visible;
        }

        /* 设置下拉框的高度与表格单元相同 */
        td .layui-form-select {
            margin-top: -10px;
            margin-left: -15px;
            margin-right: -15px;
        }
    </style>

</head>
<body>
<form class="layui-form" style="margin: 10px">
    <div class="layui-form-item">
        <div class="layui-input-inline">

            <input type="text" name="date" class="layui-input" id="laydate" placeholder="创建日期"
                   lay-verify="required|date" style="float: left">
        </div>

        <div class="layui-input-inline">
            <span class="layui-badge" style=" float: left">必填</span>
            <button class="layui-btn" lay-submit lay-filter="form" style="float: right">立即提交</button>
        </div>
    </div>

</form>
<table class="layui-hide" id="table" lay-filter="tableFilter"></table>

<script src="/static/layui/layui.js"></script>


<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    </div>
</script>
<script type="text/html" id="typeTp1">
    <select name="type" lay-verify="required" lay-filter="select">
        <option value=""></option>
        <option value="资产" [({{# if(d.type=="资产" ){ }} selected {{# } }})]>资产</option>
        <option value="负债" [({{# if(d.type=="负债") { }} selected {{# } }})]>负债</option>
    </select>
</script>
<script th:inline="javascript">
    var main_id = [[${id}]];
</script>
<script th:replace="include/layuiTablePlus :: tablePlus"></script>
<script th:inline="none">
    layui.use(['form', 'jquery', 'layer', 'table', 'laydate'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;
        var table = layui.table;
        var laydate = layui.laydate;
        var url;
        if (main_id != null) {
            url = '/account/ModelTipsDataIgnore?id=' + main_id;
        } else {
            url = '/account/ModelTipsDataIgnore'
        }
        $.ajax({
            url: url,
            success: function (object) {
                var data = object.data;
                table.render({
                    elem: '#table'
                    , size: 'lg '
                    , limit: Number.MAX_VALUE
                    , toolbar: '#toolbar'
                    , defaultToolbar: []
                    , data: data
                    , cols: [[
                        {type: 'checkbox'}
                        , {field: 'id', hide: true}
                        , {field: 'type', title: '类型', templet: '#typeTp1', sort: true}
                        , {field: 'message', title: '签名', edit: 'text'}
                        , {field: 'amount', title: '金额', edit: 'text'}
                    ]]
                });
            }
        });
        form.on('select(select)', function () {
            table.cache.table[$(this).parents('tr').attr("data-index")]["type"] = $(this).parents('tr').context.textContent;
        });
        table.on('toolbar(tableFilter)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                    tablePlusLineAdd("table");
                    break;
                case 'delete':
                    console.log(checkStatus.data);

                    layer.confirm('真的删除行么', function (index) {
                        var trObjs = getChecked(obj);
                        var checkdata = checkStatus.data;
                        for (var i = 0; i < checkdata.length; i++) {
                            if (checkdata[i].id == '') {
                                checkdata.splice(i, 1);
                                i = i - 1;
                            }
                        }
                        $.ajax({
                            url: '/account/ModelTipsDataDelete',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify(checkdata),
                            type: 'post',
                            success: function (object) {
                                if (object.code == 1) {
                                    layui.each(trObjs, function (index, trObj) {
                                        trObj.del();
                                    });
                                    for (var i = 0; i < table.cache.table.length; i++) {
                                        if (table.cache.table[i] == null) {
                                            table.cache.table.splice(i, 1);
                                            i = i - 1; // i - 1 ,因为空元素在数组下标 2 位置，删除空之后，后面的元素要向前补位，
                                                       // 这样才能真正去掉空元素,觉得这句可以删掉的连续为空试试，然后思考其中逻辑
                                        }
                                    }
                                } else {
                                    layer.msg("删除失败" + object.message);
                                }

                            }
                        });
                        layer.close(index);
                    });
                    break;
                case 'save':
                    var flag = true;
                    $(table.cache.table).each(function () {
                        if ($(this).attr("type") == '' || $(this).attr("message") == '') {
                            layer.msg('数据未填写完整,请检查');
                            flag = false;
                            return false;
                        }
                    });
                    if (flag) {
                        $.ajax({
                            url: '/account/ModelTipsData',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify(table.cache.table),
                            type: 'post',
                            success: function (object) {
                                if (object.code == 1) {
                                    layer.msg("保存成功");
                                    table.reload("table", {
                                        data: object.data
                                    });
                                } else {
                                    layer.msg("保存失败" + object.message);
                                }
                            }
                        });
                    }
            }
        });



        laydate.render({
            elem: '#laydate' //指定元素
        });
        //监听提交
        form.on('submit(form)', function (data) {
            $.ajax({
                url: '/account/assetsDebtForm' + "?date=" + data.field.date,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(table.cache.table),
                type: 'post',
                success: function (object) {
                    if (object.code == 1) {
                        layer.msg("保存成功");
                        //当你在iframe页面关闭自身时
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                    } else {
                        layer.msg("保存失败" + object.message);
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>