<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="include/header :: commonHead"></div>
</head>
<body>
<div id="container"></div>
<script src="/static/Highcharts-7.1.2/code/highcharts.js"></script>
<script src="/static/Highcharts-7.1.2/code/modules/drilldown.js"></script>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use(['jquery'], function () {
        var $ = layui.jquery;
        var options = {
            chart: {
                type: 'column',
                events: {
                    drillup: function (e) {
                        // 上钻回调事件
                        var chart = this;
                        if (Bee.StringUtils.contains(chart.title.textStr, "年度资产")) {
                            chart.setTitle({text: "总资产报表"});
                        } else if (Bee.StringUtils.contains(chart.title.textStr, "月度资产")) {
                            chart.setTitle({text: chart.title.textStr.substring(0, 4) + "年度资产报表"});
                        }
                    },
                    drilldown: function (e) {
                        if (!e.seriesOptions) {
                            var chart = this;
                            if (Bee.StringUtils.contains(chart.title.textStr, "总资产")) {
                                chart.showLoading('数据加载中 ...');
                                var year = e.point.name.substring(0, 4);
                                $.getJSON('/asset/getYearReportData?year=' + year, function (data) {
                                    chart.hideLoading();
                                    chart.addSeriesAsDrilldown(e.point, data);
                                    chart.setTitle({text: year + "年度资产报表"});
                                });
                            } else if (Bee.StringUtils.contains(chart.title.textStr, "年度资产")) {
                                chart.showLoading('数据加载中 ...');
                                var months = e.point.name.substring(0, e.point.name.length - 1);
                                $.getJSON('/asset/getMonthsReportData?yearMonths=' + chart.title.textStr.substring(0, 4) + "-" + (months.length === 1 ? "0" + months : months), function (data) {
                                    chart.hideLoading();
                                    chart.addSeriesAsDrilldown(e.point, data);
                                    chart.setTitle({text: data.name + "月度资产报表"});
                                });
                            }
                        }
                    }
                }
            },
            title: {
                text: '总资产报表'
            },
            lang: {
                drillUpText: '返回上一级'
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: '金额'
                }
            },
            credits: {
                enabled: false
            },
            tooltip: {
                // head + 每个 point + footer 拼接成完整的 table
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.2f} 元 </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true
                    }
                }

            },
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
        };
        $.getJSON('/asset/getAllReportData', function (data) {
            options.series = data;
            var chart = Highcharts.chart('container', options);
        });

    });


</script>
</body>
</html>