<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="include/header :: commonHead"></div>
</head>
<body>
<div id="container"></div>
<script src="/static/Highcharts-7.1.2/code/highcharts.js"></script>
<script src="/static/Highcharts-7.1.2/code/modules/drilldown.js"></script>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use(['jquery'], function () {
        var $ = layui.jquery;
        var options = {
            chart: {
                type: 'column',
                events: {
                    drillup: function (e) {
                        // 上钻回调事件
                        console.log(e.seriesOptions);
                    },
                    drilldown: function (e) {

                        if (!e.seriesOptions) {
                            var chart = this,
                                drilldowns = {
                                    "6月": {
                                        name: '6月',
                                        data: [
                                            ['Cows', 2],
                                            ['Sheep', 3]
                                        ]
                                    },
                                    'Fruits': {
                                        name: 'Fruits',
                                        data: [
                                            ['Apples', 5],
                                            ['Oranges', 7],
                                            ['Bananas', 2]
                                        ]
                                    },
                                    'Cars': {
                                        name: 'Cars',
                                        data: [
                                            ['Toyota', 1],
                                            ['Volkswagen', 2],
                                            ['Opel', 5]
                                        ]
                                    }
                                },
                                series = drilldowns[e.point.name];
                            chart.showLoading('Simulating Ajax ...');
                            var months = e.point.name.substring(0, e.point.name.length - 1);
                            $.getJSON('/asset/getMonthsReportData?months=' + chart.title.textStr.substring(0, 4) + "-" + (months.length === 1 ? "0" + months : months), function (data) {
                                console.log(data);
                            });
                            console.log(chart.title);

                            setTimeout(function () {
                                chart.hideLoading();
                                chart.addSeriesAsDrilldown(e.point, series);
                            }, 1000);
                        }
                    }
                }
            },
            title: {
                text: '2019年度资产报表'
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: '金额'
                }
            },
            credits: {
                enabled: false
            },
            tooltip: {
                // head + 每个 point + footer 拼接成完整的 table
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.2f} 元 </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },

            plotOptions: {
                column: {
                    borderWidth: 0
                }
            },
            series: [],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
        };
        $.getJSON('/asset/getReportData', function (data) {
            options.series = data;
            var chart = Highcharts.chart('container', options);
        });

    });


</script>
</body>
</html>