<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="include/header :: commonHead"></div>
</head>
<body>
<form class="layui-form" style="margin: 10px">
    <div class="layui-form-item">
        <div class="layui-input-inline">

            <input type="text" name="date" class="layui-input" id="laydate" placeholder="创建日期"
                   lay-verify="required|date" style="float: left">
        </div>

        <div class="layui-input-inline">
            <span class="layui-badge" style=" float: left">必填</span>
            <button class="layui-btn" lay-submit lay-filter="form" style="float: right">立即提交</button>
        </div>
    </div>

</form>
<table class="layui-hide" id="table"></table>

<script src="/static/layui/layui.js"></script>
<script th:inline="none">
    layui.use(['form', 'jquery', 'layer', 'table', 'laydate'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;
        var table = layui.table;
        var laydate = layui.laydate;
        table.render({
            elem: '#table'
            , url: '/account/ModelTipsDataIgnore'
            , initSort: {
                field: 'type' //排序字段，对应 cols 设定的各字段名
                , type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
            , cols: [[
                {type: 'checkbox'}
                , {field: 'type', title: '类型', sort: true}
                , {field: 'message', title: '签名'}
                , {field: 'amount', title: '金额', edit: 'text'}
            ]],
            response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                , statusCode: 1 //规定成功的状态码，默认：0
            }
        });
        laydate.render({
            elem: '#laydate' //指定元素
        });
        //监听提交
        form.on('submit(form)', function (data) {
            $.ajax({
                url: '/account/assetsDebtForm' + "?date=" + data.field.date,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(table.cache.table),
                type: 'post',
                success: function (object) {
                    if (object.code == 1) {
                        layer.msg("保存成功");
                        //当你在iframe页面关闭自身时
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                    } else {
                        layer.msg("保存失败" + object.message);
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>