<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="include/_css :: commonHead"></div>
</head>

<body>

<div class="login-main">
    <header class="layui-elip" style="width: 82%">注册页</header>

    <!-- 表单选项 -->
    <form class="layui-form">
        <div class="layui-input-inline">
            <!-- 用户名 -->
            <div class="layui-inline" style="width: 85%">
                <input type="text" id="user" name="username" required lay-verify="username" placeholder="请输入用户名"
                       autocomplete="off" class="layui-input">
            </div>
            <!-- 对号 -->
            <div class="layui-inline">
                <i class="layui-icon" id="ri" style="color: green;font-weight: bolder;" hidden></i>
            </div>
            <!-- 错号 -->
            <div class="layui-inline">
                <i class="layui-icon" id="wr" style="color: red; font-weight: bolder;" hidden>ဆ</i>
            </div>
        </div>
        <!-- 密码 -->
        <div class="layui-input-inline">
            <div class="layui-inline" style="width: 85%">
                <input type="password" id="pwd" name="password" required lay-verify="pass" placeholder="请输入密码"
                       autocomplete="off" class="layui-input">
            </div>
            <!-- 对号 -->
            <div class="layui-inline">
                <i class="layui-icon" id="pri" style="color: green;font-weight: bolder;" hidden></i>
            </div>
            <!-- 错号 -->
            <div class="layui-inline">
                <i class="layui-icon" id="pwr" style="color: red; font-weight: bolder;" hidden>ဆ</i>
            </div>
        </div>
        <!-- 确认密码 -->
        <div class="layui-input-inline">
            <div class="layui-inline" style="width: 85%">
                <input type="password" id="rpwd" name="repassword" required lay-verify="pass" placeholder="请确认密码"
                       autocomplete="off" class="layui-input">
            </div>
            <!-- 对号 -->
            <div class="layui-inline">
                <i class="layui-icon" id="rpri" style="color: green;font-weight: bolder;" hidden></i>
            </div>
            <!-- 错号 -->
            <div class="layui-inline">
                <i class="layui-icon" id="rpwr" style="color: red; font-weight: bolder;" hidden>ဆ</i>
            </div>
        </div>


        <div class="layui-input-inline login-btn" style="width: 85%">
            <button type="submit" lay-submit lay-filter="sub" class="layui-btn">注册</button>
        </div>
        <hr style="width: 85%"/>
        <p style="width: 85%"><a href="login" class="fl">已有账号？立即登录</a><a href="javascript:;" class="fr">忘记密码？</a>
        </p>
    </form>
</div>
<script src="/static/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['form', 'jquery', 'layer'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;

        $('#pwd').blur(function () {
            pwdcheck();
        });

        function pwdcheck() {
            var reg = /^[\w]{6,12}$/;
            if (!($('#pwd').val().match(reg))) {
                $('#pwr').removeAttr('hidden');
                $('#pri').attr('hidden', 'hidden');
                layer.msg('密码必须6到12位，且不能出现空格');
                return false;
            } else {
                $('#pri').removeAttr('hidden');
                $('#pwr').attr('hidden', 'hidden');
                return true;
            }
        }

        //验证两次密码是否一致
        $('#rpwd').blur(function () {
            rpwdcheck();
        });

        function rpwdcheck() {
            if ($('#pwd').val() != $('#rpwd').val()) {
                $('#rpwr').removeAttr('hidden');
                $('#rpri').attr('hidden', 'hidden');
                layer.msg('两次输入密码不一致!');
                return false;
            } else {
                $('#rpri').removeAttr('hidden');
                $('#rpwr').attr('hidden', 'hidden');
                return true;
            }

        }

        //验证用户名
        $('#user').blur(function () {
            usercheck();
        });

        function usercheck() {
            var user = $('#user').val();
            if (!new RegExp("^[a-zA-Z0-9\u4e00-\u9fa5\\s·]+$").test(user)) {
                $('#wr').removeAttr('hidden');
                $('#ri').attr('hidden', 'hidden');
                layer.msg('用户名不能有特殊字符');
                return false;
            }
            if (/^\d+\d+\d$/.test(user)) {
                $('#wr').removeAttr('hidden');
                $('#ri').attr('hidden', 'hidden');
                layer.msg('用户名不能全为数字');
                return false;
            }
            var flag = true;
            $.ajax({
                url: 'checkname',
                type: 'post',
                dataType: 'text',
                data: {username: user},
                //验证用户名是否可用
                success: function (data) {
                    data = $.parseJSON(data);
                    if (data.code === 1) {
                        $('#ri').removeAttr('hidden');
                        $('#wr').attr('hidden', 'hidden');
                    } else {
                        $('#wr').removeAttr('hidden');
                        $('#ri').attr('hidden', 'hidden');
                        layer.msg('当前用户名已被占用! ');
                        flag = false;
                    }

                }
            });
            return flag;

        }

        //添加表单监听事件,提交注册信息
        form.on('submit(sub)', function () {

            if (!pwdcheck() || !rpwdcheck() || !usercheck()) {
                return false;
            }
            $.ajax({
                url: 'register',
                type: 'post',
                dataType: 'text',
                data: {
                    username: $('#user').val(),
                    password: $('#pwd').val()
                },
                success: function (data) {

                }
            });
            //防止页面跳转
            return false;
        });
    });

</script>
</body>
</html>